#navbar {
	font-size: 22px;
	text-align: center;

}

#PortfolioTag {
	font-size: 24px;
	text-align: center;
	color: #4aaaa5;
}


#NameTag {
	font-size: 26px;
	color: white;
	text-align: center;
	background-color: #4aaaa5;
	height: 50px;
	line-height: 50px;

}
#portfoliosocial {

	text-align: center;
	padding: 0px;
	border: solid #dddddd;
	width: 240px;
	height: 200px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	background-color: white;
}
#portfoliofooter {
	font-size: 20px;
	color: white;
	line-height: 50px;
	background-color: #666666;
	text-align: center;
	height: 50px;
}